:root {
	--storyBodyFontSize: 18px;
	}
body {
	background-color: white;
	}
.divPageBody {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 400px;
	min-height: 400px;
	font-family: Ubuntu, Arial, sans-serif;
	font-size: 24px;
	}

.divPageTop {
	text-align: center;
	margin-bottom: 60px;
	line-height: 110%;
	}
.divPageTop .divSiteTitle {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 10px;
	letter-spacing: -0.04em;
	}
.divPageTop .divSiteDescription {
	color: rgb(123, 123, 123);
	font-size: 14px;
	}

.divStory {
	line-height: 100%;
	}
.divStory .divStoryTitle {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 5px;
	letter-spacing: -0.04em;
	}
.divStory .divLineUnderStoryTitle {
	color: rgb(123, 123, 123);
	font-size: 14px;
	margin-left: 2px;
	}

.divStoryBody {
	margin-top: 25px;
	font-size: 18px;
	}
.divStoryBody p {
	margin-bottom: 10px;
	}
.divStoryBody a, .divFooter a {
	color: #0088cc;
	text-decoration: underline;
	cursor: pointer;
	}
.divStoryBody h3 {
	font-size: 20px; /* a little bigger than paragraph text */
	font-weight: bold;
	margin-bottom: 0;
	}
.divStoryBody ol, .divStoryBody ul {
	margin-top: .5em;
	margin-bottom: 1em;
	}
.divStoryBody li {
	margin-bottom: 5px;
	line-height: inherit;
	}

.divCategories {
	margin-top: 3em;
	color: rgb(123, 123, 123);
	font-size: 14px;
	}

.divFooter {
	margin-top: 100px;
	text-align: center;
	font-size: 14px;
	}

@media screen and (max-width: 1024px) { /* styles for phone, tablet */
	.divPageBody {
		width: 95%;
		margin-top: 80px;
		}
	}




